{% load leaflet_storage_tags %}
    <div id="map"></div>
    <script type="text/javascript">
        var MAP = new L.Storage.Map("map", {{ map_settings|notag|safe }});
        var popup = L.popup();

        /*********************************************
         *  ДЕТАЛИЗАЦИЯ  ОБЪЕКТА НА  КАРТЕ
         ********************************************/

        MAP.on('click', function(e) {
             /*********************************************
               TODO: пока  так ))

             /*********************************************/
             params = e.latlng.lat + "&lng=" + e.latlng.lng;
             visiblelayer = '';
             len_datalayer = e.sourceTarget.datalayers_index.length;
             datalayer= e.sourceTarget.datalayers_index;

             for (i= 0 ; i < len_datalayer; i++ ){
                  if (datalayer[i].isVisible() == true){
                      visiblelayer = visiblelayer + datalayer[i].storage_id +',';
                  }
             }
             if (visiblelayer !== ''){
                 params = params + "&lb=" + visiblelayer;
             }


             $.ajax({
                url: "./api/v1/api_identify?lat=" + params + "&f=json",
                type: "GET",
                success: function(data, textStatus, jqXHR){
                    var ct = jqXHR.getResponseHeader("content-type");
                     if (ct.indexOf('json') > -1) {
                            showinfo(data, e, true)
                        } else {
                            showinfo(JSON.parse(data),e, true)
                        }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log([textStatus, errorThrown])
                }
            });
        });

        function showinfo(jsondata, e, showPopup) {
            if (!jsondata || !jsondata.geometry) { return; }
            if (showPopup && jsondata.info && jsondata.info!='-'){
                  popup.setLatLng(e.latlng)
                                .setContent(jsondata.info)
                                .openOn(MAP);
            }
         };

    </script>
