{% load leaflet_storage_tags %}
    <div id="map"></div>
    <script type="text/javascript">
        var MAP = new L.Storage.Map("map", {{ map_settings|notag|safe }});


        {#var popup = L.popup();#}
        {#var lsel = L.polygon([]).addTo(MAP);#}
        {#lsel.bindPopup(popup);#}
       var popup = L.popup()

        MAP.on('click', function(e) {
             $.ajax({
                url: "./api/v1/api_identify?lat=" + e.latlng.lat + "&lng=" + e.latlng.lng + "&f=json",
                type: "GET",
                success: function(data, textStatus, jqXHR){
                    var ct = jqXHR.getResponseHeader("content-type");
                     if (ct.indexOf('json') > -1) {
                            showinfo(data, e, true)
                        } else {
                            showinfo(JSON.parse(data),e, true)
                        }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log([textStatus, errorThrown])
                }
            });
        });

        function showinfo(jsondata, e, showPopup) {
            if (!jsondata || !jsondata.geometry) { return; }
            if (showPopup && jsondata.info && jsondata.info!='-'){
                  popup.setLatLng(e.latlng)
                                .setContent(jsondata.info)
                                .openOn(MAP);
                            {#alert(data.info);#}
                {#lsel.openPopup(lsel.getCenter());#}
            }
            {#MAP.flyTo(lsel.getCenter());#}
         };

    </script>
